body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pics/backgrounds/thumb-1920-1230064bio backgroud.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #334155; 
    line-height: 1.8;
}

header {
    max-width: 800px;
    margin: 2.5rem auto 1rem;
    padding: 2rem 2.5rem;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(8px); 
    
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

h1 {
  font-family: Georgia, serif;
  font-size: 28px;
  margin-bottom: 10px; 
  color: #0b0b0c;
}

header p {
    text-indent: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: #475569;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.card {
  /* White with 80% opacity */
  background: rgba(255, 255, 255, 0.8); 
  backdrop-filter: blur(10px); 
  max-width: 800px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 40px;
}

h2 {
    font-family: "Times New Roman", serif;
    font-size: 1.6rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.4rem;
}

p {
  font-size: 15px;
  margin-bottom: 20px;
  text-indent: 50px;
  color: #1e293b;
}

sup {
  color: #0284c7;
  font-weight: bold;
  margin-right: 2px;
}

strong {
  color: #0369a1;
}

blockquote {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
  color: #475569;
}
.bio-buttons {
    margin-top: 30px;
    text-align: center;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4ba5cf;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #055275;  /* green on hover */
}
