body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;

    background:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url("../cssthings/pics/backgrounds/world-map-19378728.webp")
        no-repeat center center fixed;

    background-size: cover;
}

.title {
    margin: 40px 0;
    font-size: 40px;
}

.map-container {
    display: flex;
    justify-content: center;
}

.collage {
    width: 1280px; /* match your image resolution */
    max-width: 100%;
}

/* Navigation Buttons Container */
.nav-buttons {
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* Button Styling */
.button {
    display: inline-block;
    padding: 10px 22px;
    background-color: #4ba5cf;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* Hover Effect */
.button:hover {
    background-color: #055275;
    transform: scale(1.07);
}